<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector" name="tl_detector" output="screen">
        <remap from="traffic_lights" to="/vehicle/traffic_lights"/>
    </node>
    <node pkg="tl_detector" type="light_publisher" name="light_publisher" output="screen" cwd="node"/>
</launch>
